.valid {
  background-color: green;
}
.invalid {
  background-color: red;
}

form {
  border: 1px solid grey;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

form > input {
  width: 300px;
}
form > label {
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
  text-transform: capitalize;
}

form > button {
  width: 250px;
}
